@font-face {
  font-family: 'Berani';
  src: url(../public/font/Berani.ttf);
}

body {
  background-image: url(../public/background.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

h1 {
  font-family: 'Berani';
  letter-spacing: 5px;
  font-weight: 300;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 500px;
  height: 200px;
}

@media (max-width: 1280px) {
  .logo {
    width: 250px;
    height: 100px;
    margin-bottom: 150px;
  }
}